{{!-- Jumbotron --}}
<div id="page">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-2">In The Kitchen</h1>
      <p class="lead">Post your recipe!</p>
      <a href="/home">← Back To Home</a>
    </div>
  </div>
  {{!-- Create a Post Form --}}
  <form class="recipeForm" action="/photo" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="title">Type of cuisine?</label>
      <select class="btn btn-outline-secondary" name="cuisinetype" id ="cuisinetype">
        <option value="default">Select an option</option>
        <option value="American">American</option>
        <option value="Mexican ">Mexican</option>
        <option value="Italian">Italian</option>
        <option value="Indian">Indian</option>
        <option value="Chinese">Asain</option>
        <option value="Breakfast">Breakfast</option>        
        <option value="Dessert">Dessert</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <div class="form-group">
      <label for="title">What you Cooking?</label>
      <input type="text" class="form-control" id="titleforRecipe" placeholder="title">
    </div>

    <div class="form-group">
      <label for="avatar">Upload a Photo</label>
      <input type="file" class="btn btn-outline-secondary fileName" id="avatar" name="avatar" accept="image/png, image/jpeg, image/jpg">
    <input type="submit" value="Click to Upload" id="clicktoUpload">
    <div class="alertSuccess" id="alertSuccess"></div>
    </div>
    <div class="form-group">
      <label for="textAreaForRecipe">How'd you do it?</label>
      <textarea class="form-control" id="textAreaForRecipe" rows="12" placeholder="type your recipe here"></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block submit submitform"><img src="img/iconCheckmark.png" />
      Submit</button>
      <div class="alertSubmit" id="alertSubmit"></div>
  </form>
  {{!-- footer --}}
  <footer>
    In The Kitchen &copy; 2019
  </footer>
</div>
<!--Modal: modalValidateForm-->
<div class="modal" id="modalValidateForm" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Form Validation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <p>Please fill out all fields before submitting</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--Modal: modalValidateForm-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
<script src="/js/recipes.js"></script>
<script src="/js/index.js"></script>
