{{!-- Jumbotron --}}
<div id="page">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-2">In The Kitchen</h1>
      <p class="lead">Post your recipe!</p>
      <a href="/">← Back To Home</a>
    </div>
  </div>
  {{!-- Create a Post Form --}}
  <form>
    <div class="form-group">
      <label for="title">Where is your dish from?</label>
      <select class="btn btn-outline-secondary" name="cuisinetype">
        <option value="default">Select an option</option>
        <option value="Mexican ">Mexican Food</option>
        <option value="Indian">Indian Food</option>
        <option value="Japanese">Japanese Food</option>
        <option value="American">American Food</option>
        <option value="Indian ">Indian Food</option>
        <option value="Chinese">Chinese Food</option>
        <option value="Ethiopian">Ethiopian Food</option>
        <option value="Latin-American">Latin-American Food</option>
        <option value="British ">British Food</option>
        <option value="French">French Food</option>
        <option value="Italian">Italian Food</option>
        <option value="Other">Other type of Food</option>
      </select>
    </div>
    <div class="form-group">
      <label for="title">What you Cooking?</label>
      <input type="text" class="form-control" id="title" placeholder="title">
    </div>
    <div class="form-group">
      <label for="avatar">Upload a Photo</label>
      <input type="file" class="btn btn-outline-secondary" id="avatar" name="avatar" accept="image/png, image/jpeg">
    </div>
    <div class="form-group">
      <label for="textAreaForRecipe">How'd you do it?</label>
      <textarea class="form-control" id="textAreaForRecipe" rows="12" placeholder="type your recipe here"></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block submit"><img src="img/iconfinder_checkmark-outline_3671727.png" />
      Submit</button>
  </form>
  {{!-- footer --}}
  <footer>
    In The Kitchen &copy; 2019
  </footer>
</div>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/index.js"></script>