{{!-- Navbar --}}
<div id="page">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="/img/icon.png" width="30" height="30" class="d-inline-block align-top" alt="icon">
      In The Kitchen</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
    <div class="addRecipe">
      <a class="addRecipe" id="post-a-recipe" href="/createPost">Post A Recipe!</a>
    </div>
  </nav>
  {{!-- Jumbotron --}}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <img src="/img/icon.png" width="200" height="200">
      <h1 class="display-2">In The Kitchen</h1>
      <p class="lead">A simple way to explore home cooked recipes!</p>
    </div>
  </div>
  {{!-- Food Grid --}}
  <div class="wrapper">
    <div class="feature-container">
      <a class="feature-anchor" href="#">
        <div class="feature-image">
          <img src="/img/americanFood.jpg" alt="american" style="width:100%">
        </div>
        <div class="feature-text">
          <h4>American</h4>
        </div>
      </a>
    </div>
    <div class="feature-container">
      <a class="feature-anchor" href="#">
        <div class="feature-image">
          <img src="/img/mexicanFood.jpg" alt="mexican" style="width:100%">
        </div>
        <div class="feature-text">
          <h4>Mexican</h4>
        </div>
      </a>
    </div>
    <div class="feature-container">
      <a class="feature-anchor" href="#">
        <div class="feature-image">
          <img src="/img/italianFood.jpg" alt="italian" style="width:100%">
        </div>
        <div class="feature-text">
          <h4>Italian</h4>
        </div>
      </a>
    </div>
    <div class="feature-container">
      <a class="feature-anchor" href="#">
        <div class="feature-image">
          <img src="/img/IndianFood.jpg" alt="indian" style="width:100%">
        </div>
        <div class="feature-text">
          <h4>Indian</h4>
        </div>
      </a>
    </div>
    <div class="feature-container">
      <a class="feature-anchor" href="#">
        <div class="feature-image">
          <img src="/img/asainFood.jpg" alt="asain" style="width:100%">
        </div>
        <div class="feature-text">
          <h4>Asain</h4>
        </div>
      </a>
    </div>
    <div class="feature-container">
      <a class="feature-anchor" href="#">
        <div class="feature-image">
          <img src="/img/breakfastImg.jpg" alt="breakfast" style="width:100%">
        </div>
        <div class="feature-text">
          <h4>Breakfast</h4>
        </div>
      </a>
    </div>
    <div class="feature-container">
      <a class="feature-anchor" href="#">
        <div class="feature-image">
          <img src="/img/dessertImg.jpg" alt="dessert" style="width:100%">
        </div>
        <div class="feature-text">
          <h4>Dessert</h4>
        </div>
      </a>
    </div>
    <div class="feature-container">
      <a class="feature-anchor" href="#">
        <div class="feature-image">
          <img src="/img/anythingFood.jpg" alt="other" style="width:100%">
        </div>
        <div class="feature-text">
          <h4>Other</h4>
        </div>
      </a>
    </div>
  </div>
</div>
<footer>
  In The Kitchen &copy; 2019
</footer>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>