{{!-- Navbar --}}
<div id="page">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">In The Kitchen</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Discover
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">American</a>
            <a class="dropdown-item" href="#">Mexican</a>
            <a class="dropdown-item" href="#">Italian</a>
            <a class="dropdown-item" href="#">Indian</a>
            <a class="dropdown-item" href="#">Chinese</a>
            <a class="dropdown-item" href="#">Anything</a>
          </div>
        </li>
      </ul>
      <div class="nav-item">
        <a class="nav-link" id="post-a-recipe" href="/createPost">Post A Recipe!</a>
      </div>
    </div>
  </nav>
  {{!-- Jumbotron --}}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-2">In The Kitchen</h1>
      <p class="lead">A simple way to explore home cooked recipes!</p>
    </div>
  </div>
  {{!-- Food Grid --}}
  <div class="wrapper">
    <div>American</div>
    <div>Mexican</div>
    <div>Italian</div>
    <div>Indian</div>
    <div>Chinese</div>
    <div>Anything</div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <footer>
    In The Kitchen &copy; 2019
  </footer>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>