body{
  background-color: #e5e5e5;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
}
#page{
  width: 1300px;
  margin: 0 auto;
}

.display-2{
  font-family: 'Amatic SC', cursive;
}
.jumbotron{
  text-align: center;
  padding: 1rem;
}
.wrapper{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  grid-auto-rows: 200px;
}
.wrapper > div{
  background: rgb(245, 243, 243);
  padding: 5px;
  border: 1px solid rgb(12, 12, 12);
  border-radius: 3px;
}
footer{
  text-align: center;
  font-size: 14px;
  padding: 20px;
}