body{
  background-color: #e5e5e5;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
}
#page{
  width: 1300px;
  margin: 0 auto;
}
.navbar{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.display-2, .display-4{
  font-family: 'Amatic SC', cursive;
}
.jumbotron{
  text-align: center;
  padding: 1rem;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
.login, .addRecipe{
  color: black
}
.login:hover, .addRecipe:hover{
  text-decoration: none
}
/* grid layout */
.wrapper{
  display:grid;
  grid-template-columns: 310px 310px 310px 310px; 
  gap: 20px;
}
.wrapper > div{
  background: rgb(245, 243, 243);
  border-radius: 3px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  text-decoration: none;
}
.feature-container:hover{
  background-color: rgba(0, 0, 0, 0.02);
  text-decoration: none;
  cursor: pointer;
}
.feature-text{
  color: black;
  text-decoration: none;
  padding: 10px;
}
.feature-anchor:hover{
  text-decoration: none;
}
div.dropdown-menu > a.dropdown-item:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
.dropdown-toggle::after{
  display: none;
}
/* login page styles */
#login-btn-container{
  margin: 0 auto;
  margin-top: 25px;
  padding: 50px;
  width: 400px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
#googleLogInBtn{
  display: block;
  margin: 0 auto;
  background-color: rgb(221, 75, 57);
  color: whitesmoke;
  width: 60%;
}
#googleLogInBtn:hover{
  background-color: rgb(187, 55, 37);
}
#facebookLogInBtn{
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  background-color: steelblue;
  color: whitesmoke;
  width: 60%;
}
#facebookLogInBtn:hover{
  background-color: rgb(18, 46, 129);
}
.loginBtn{
  text-decoration: none;
}
.loginBtn:hover{
  text-decoration: none;
}
#loginImg{
  display: block;
  margin: 0 auto;
  position: relative;
  bottom: -80px;
}
/* Blog Container Styles */
.blog-container{
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 10px;
  overflow: hidden;
}
#blogTitle{
  text-align: center;
}
.blogImg{
  position: relative;
  float: left;
  margin: 15px;
}
p{
  font-size: 20px;
  padding: 10px;
}
.saveRecipe{
  position: relative;
  float: right;
  border: none;
  border-radius: 50%;
  background-color: #e5e5e5;
  margin: 5px;
  cursor: pointer;
  top: -45px;
  transition: transform .2s;
}
.saveRecipe:hover{
  transform: scale(1.2);
}
.editRecipe{
  position: relative;
  float: right;
  border: none;
  border-radius: 50%;
  background-color: #e5e5e5;
  margin: 5px;
  cursor: pointer;
  top: -45px;
  transition: transform .2s;
}
.editRecipe:hover{
  transform: scale(1.2);
}
.deleteRecipe{
  position: relative;
  float: right;
  border: none;
  border-radius: 50%;
  background-color: #e5e5e5;
  margin: 5px;
  cursor: pointer;
  top: -45px;
  transition: transform .2s;
}
.deleteRecipe:hover{
  transform: scale(1.2);
}
.deleteYourRecipe{
  position: relative;
  float: right;
  border: none;
  border-radius: 50%;
  background-color: #e5e5e5;
  margin: 5px;
  cursor: pointer;
  top: -45px;
  transition: transform .2s;
}
.deleteYourRecipe:hover{
  transform: scale(1.2);
}
/* My Home Page */
#avatar-dropdown-menu{
  border: none;
  border-radius: 15px 5px 5px 15px;
}
#avatarImgTag{
  border-radius: 50%;
}
#myHomeLead{
  margin-bottom: 0;
}
.container-myHomeBtns{
  margin-bottom: 20px;
}
.myHomeBtn{
  display: block;
  margin: 0 auto;
  text-decoration: none;
  transition: transform .2s;
}
.myHomeBtn:hover{
  text-decoration: none;
  transform: scale(1.2);
}
.homeBtnsLink:hover{
  text-decoration: none;
}
/* Footer */
#backToTop{
  float: right;
  padding: 10px;
  text-decoration: none;
}
#backToTop:hover{
  text-decoration: none;
}
footer{
  clear: both;
  text-align: center;
  font-size: 14px;
  padding: 20px;
}
/* Media Queries */
@media (max-width: 1200px) {
  #page{
    width: 95%
  }
  .wrapper{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
  }
}
@media (max-width: 620px) {
  #page{
    width: 95%
  }
  .wrapper{
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
  }
  .myHomeBtn{
    padding: 5px;
  }
  .saveRecipe{
    top: 0;
  }
  .deleteYourRecipe{
    float: left;
    top: 0px;
  }
  .editRecipe{
    top: 0px;
  }
  #login-btn-container{
    width: 350px;
  }
}